<div class="social-share">
  <ul class="socialcount socialcount-small inline-list">
    <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Comparte en Facebook" target="_blank"><span class="count"><i class="fa fa-facebook-square"></i> Facebook</span></a></li>
    <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ site.baseurl }}{{ page.url }}&hashtags=togangel" title="Comparte en Twitter"><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a></li>
    <li class="whatsapp"><a href="whatsapp://send?text={{ site.url }}{{ site.baseurl }}{{ page.url }}%20{{site.title}}%20{{ page.title }}" title="Comparte en Whatsapp"><span class="count"><i class="fa fa-whatsapp"></i> Whatsapp</span></a></li>
    <li class="linkedin"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}%20%E2%80%93%20{{site.title}}&summary={{ page.description }}&source={{ site.url }}{{ site.baseurl }}" title="Comparte en Linkedin" target="_blank"><span class="count"><i class="fa fa-linkedin-square"></i> Linkedin</span></a></li>
  </ul>
</div><!-- /.social-share -->
